* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(180, 172, 172);
}

.jumbo {
    max-width: 1000px;
    background-color: rgb(116, 49, 116);
    display: flex;
    align-items: center;
    flex-direction: column;
  
}

.social-links {
    margin:20px;
}

.intro {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px;
    
}

.intro .first {
    display: flex;
    flex: 1;
    flex-direction: column;
 
}

.intro .second {
    display: flex;
    flex: 1;
}



h1{
  font-size: 50px;
  letter-spacing: 12px;
  color: white;
 text-align: right;
 text-shadow: 2px 2px 4px #000000;
}

h2{
    font-size: 80px;
    background-color: white;
}

  .intro .second img {
   border: double 20px white;
}

.events {
  
  text-align: center;
  background-color: white;
  width: 100%;
 
}

.events h4{
    margin: 40px;
    border-bottom: 20px solid purple;
    letter-spacing: 10px;
    font-size: 40px;
    color: rgb(92, 86, 92);
}

.events p{
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

.video {
    border-bottom: 20px dotted purple;
}

.video p{
  padding:5px;
  background-color: white;
  display: block;
  width: 250px;
  font-size: 80px;
  margin-bottom: 20px;
  font-family: 'Anton', sans-serif;
}

.about {
    width: 100%;
    background-color: white;
    margin-top: 20px;
}


.about p {
  margin: 20px;
  font-family: 'Fredericka the Great', cursive;
}

.gallery {
    width: 100%;
    margin-bottom: 20px;
}

.gallery h6 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
    font-family: 'Anton', sans-serif;
}

.gallery-pic{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gallery-pic img {
    padding: 0 10px 10px;
}

.contact {
    width: 100%;
    margin: 10px;
    text-align: center;
}



@media(max-width: 700px) {
    body {
        width: 100%;
        
    }
    
    .jumbo {
        width: 100%;
       
      
    }
    
    .social-links {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .intro {
        width: 100%;
        flex-direction: column;
        
        
    }
    
    .intro .first {
       width: 100%;
     
    }
    
    .intro .second {
        width: 100%;
    }
    
   h1{
  font-size: 30px;
  letter-spacing: 10px;
  text-align: center;
 
}
      
      .events {
       
        width: 100%;
       
      }

      .video {
          width: 100%;
    }
    
    iframe{
        width:100%;
      }
    
    .video p{
 
   font-size: 50px;
}
    
     
    
      .gallery {
          width: 100%;
      }


      .about {
          width: 100%;
      }
}
